/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }


/* nav home */
/* ----------------------------------------------------------*/


section.bg-molly {
    background: url('../img/glacier.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100%, auto;*/
    background-size: cover;
    padding: 250px 0;
}

#brand-words {
    color: rgb(140,40,40);
    font-size: 140%;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}


.title-words {
    font-size: 118%;
    font-weight: bold;
}

.icons {
    font-size: 130%;
}


.navbar-for-home.navbar {
    background: rgba(255,255,255,0.85);
}


.img-center {
    margin: 0 auto;
}


.blog {
    padding-top: 70px;
}

.posts {
    list-style-type: none; 
    padding-left: 0;
}

.posts .post-link {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    color: rgb(140,40,40);
}

.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
}

.posts li { margin-bottom: 30px; }


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: 0px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .8;
  letter-spacing: -1px;
  /* font-style: italic; */
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.post {
    padding-top: 70px;
}

/* imgs in post */

.imgcap img {
    /* border: 1px solid #999; */
    max-width: 100%;
}
.imgcap {
    color: #555;
    font-size: 14px;
    text-align: center;
}


/* hide disqus footer */
#disqus_thread {
     position: relative;
}
#disqus_thread:after {
     content: "";
     display: block;
     height: 55px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background: white;
}

/* footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    /* Margin bottom by footer height */
    height: 100%;
    margin: 0 auto -30px;
}

.footer, .push {
    height: 30px;
}

.navbar.footer.navbar-inverse {
    border-radius: 1px;
    min-height: 0px; 
    background-color: #eeeeee;
    border-color: #dfdfdf;
}

.copyright, .contact {
    font-size: 12px;
    color: rgba(94,94,94,0.89);
    font-weight: 500;
}

.copyright > a {
    color: rgba(69,69,69,0.89)
}


