section.bg-molly {
    background: url('../img/glacier.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100%, auto;*/
    background-size: cover;
    padding: 250px 0;
}


#brand-words {
    color: rgb(140,40,40);
    font-size: 140%;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}


.title-words {
    font-size: 118%;
    font-weight: bold;
}


.navbar {
    background: rgba(255,255,255,0.85);
}


.img-center {
    margin: 0 auto;
}


.blog {
    padding-top: 70px;
}

.posts {
    list-style-type: none; 
    padding-left: 0;
}

.posts .post-link {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 1;
}

.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
}


