section.bg-molly {
    background: url('../img/glacier.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100%, auto;*/
    background-size: cover;
    padding: 250px 0;
}


.bg-tibet {
    background: url('../img/tibet.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100%, auto;*/
    background-size: cover;
    padding: 250px 0;
}


.title-words {
    font-size: 118%;
    font-weight: bold;
}


.navbar {
    background: rgba(255,255,255,0.85);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.img-center {
    margin: 0 auto;
}

.blog {
    padding-top: 65px;
}
