<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My personal website">
    <meta name="author" content="Molly Zhang">

    <title>Molly C.Z.</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- font-awesomeness -->
    <script src="https://use.fontawesome.com/071362647b.js"></script>

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">


</head>
