<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My personal website">
    <meta name="author" content="Molly Zhang">

    <title>Molly C.Z.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Permanent+Marker|Satisfy" rel="stylesheet">

    <!-- font-awesomeness -->
    <script src="https://use.fontawesome.com/071362647b.js"></script>

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
