<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="brand-words" href="#">Molly C. Z.</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="title-words" href="/">Projects</a></li>
                <li><a class="title-words" href="/blog/">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="title-words" href="https://github.com/MollyZhang"><i class="fa fa-github"></i><span> Github</span></a>
                </li>
                <li>
                    <a class="title-words">
                        <i class="fa fa-envelope-o"></i>
                        <span>mollyzhang@ucsc.edu</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

