<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="My personal website">
        <meta name="author" content="Molly Zhang">

        <title>Molly C.Z.</title>
        
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- font-awesomeness -->
        <script src="https://use.fontawesome.com/071362647b.js"></script>

        <!-- Custom CSS -->
        <link href="css/main.css" rel="stylesheet">
    </head>


    </body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll title-words" href="#home">Molly C. Z.</a>
                </div>
                <ul class="nav navbar-nav navbar-left">  
                    <li>
                        <a class="title-words"></a>
                    </li>
                    <li>
                        <a class="title-words" href="/">Projects</a>
                    </li>
                    <li>
                        <a class="title-words" href="/Blog.html">Blog</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">  
                    <li>
                        <a class="title-words" href="https://github.com/MollyZhang"><i class="fa fa-github"></i><span>Github</span></a>
                    </li>
                    <li>
                        <a class="title-words">
                            <i class="fa fa-envelope-o"></i>
                            <span>mollyzhang@ucsc.edu</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            {{ content }}
        </div>
    </body>
</html>
